<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FlightForms.Properties.Settings.nog0030ConnectionString"
            connectionString="Data Source=dbsys.cs.vsb.cz\STUDENT;Initial Catalog=nog0030;Persist Security Info=True;User ID=nog0030;Password=AFm6BNRv0x"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>